<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target name="console" xsi:type="Debugger"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${threadid:padding=3}] [${callsite:padding=-70}] ${message}" />

    <target name="file" xsi:type="File"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${threadid:padding=3}] [${callsite:padding=-70}] ${message}"
            fileName="C:/logs/NSBM/NHRMSWT/${shortdate}.txt"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    
    <target name="writtenList" xsi:type="File"
            layout="${message}"
            fileName="C:/logs/NSBM/NHRMSWT/WrittenList/Written Accession No List.csv"
            keepFileOpen="false"
            encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="writtenList" minlevel="Info" writeTo="writtenList" />
  </rules>
</nlog>
